<suite name="mysuite">

    <test name="mytest">
        <!-- Pass browser name here: chrome | firefox | edge -->
        <parameter name="browser" value="chrome"/>
        
        <classes>
            <!-- Full package + class name -->
            <class name="coverfoxtestt.CoverFoxTestClass"/>
        </classes>
    </test>

</suite>
